@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i);
@import url(../../fonts/norwester.otf);

$tl: 0.6s;

@font-face {
  font-family: Norwester;
  src: url(../../fonts/norwester.otf);
}

body {
  background: #fff;
  margin: 0px auto;
}

nav {
  width: 100%;
  height: 80px;
  background: url('../../images/nav.jpg'), #ccc;
  background-size: cover;

  .logo {
    font-family: Norwester, sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 35px;
    padding: 15px 0px 0px 80px;
  }

  ul {
    position: absolute;
    margin-top: -40px;
    margin-left: 13%;

    li {
      display: inline-block;
      color: #fff;
      font-family: Roboto, sans-serif;
      font-weight: 500;
      padding-left: 30px;
      font-size: 20px;
    }
  }

  .right {
    float: right;
    padding-right: 100px;
    margin-top: -45px;
  }

  .search-box {
    transition: width $tl, border-radius $tl, background $tl, box-shadow $tl;
    width: 40px;height: 40px;
    border-radius: 20px;border: none;
    cursor: pointer;
    background: #fff;


    & + label .search-icon {    margin-left: -1px; color: black    }

    &:hover {
      color: white;
      background: rgb(200, 200, 200);
      box-shadow: 0 0 0 5px rgb(61, 71, 82);
      & + label .search-icon {    color: white    }
    }

    &:focus {
      transition: width $tl cubic-bezier(0,1.22,.66,1.39), border-radius $tl, background $tl;
      border: none;outline: none;
      box-shadow: none;
      padding-left: 15px;
      cursor: text;
      width: 300px;
      border-radius: auto;
      background: rgb(235, 235, 235);
      color: black;
      & + label .search-icon {    color: black;    }
    }

    &:not(:focus) {    text-indent:-5000px;    }
  }

  #search-submit {
    position: relative;left: -5000px;
  }

  .search-icon {
    position: relative;
    left: -30px;
    color: white;
    cursor: pointer;
  }
}
